.video-container {
    position: relative;
    width: 100%;
    height: 95vh; 
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0 0 50px black;
    color: white;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playlistContent {
    position: relative;
    z-index: 1; /* Ensure content is above the video */
    /* Add your styles for content here */
}

#backtoHome{
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-left: 98%;
}

.contentOfList{
    /* border: 2px solid white; */
    height: 70vh;
    width: 60vw;
    margin-left: 28%;
    margin-top: 2%;
    border-radius: 40px;
    background-color: rgba(29, 29, 29, 0.7); 
    box-shadow: 0 0 10px white;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

hr{
    color: white;
    width: 95%;
}

.playlistInfo{
    /* border: 2px solid red; */
    display: flex;
    padding: 20px;
    gap: 10%;
}

#mainImage{
    height: 20vh;
    border-radius: 10px;
    border: 1px solid white;
    
}


.heading{
    list-style: none;
}
.headingList{
    display: flex;
}
#name{
    margin-left: 12vw;
}
#artist{
    margin-left: 22vw;
}


.songListOfPlaylist{
    /* border: 2px solid red; */
    list-style: none;
    overflow-y: scroll;
}
.songListOfPlaylist::-webkit-scrollbar {
    display: none;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10vw;
    margin-bottom: 10px;
    align-items: center;
}
.list img{
    border: 2px solid white;
    height: 10vh;
    width: 5vw;
}
#indSong{
    border-radius:10px ;
    border: 2px solid white;
}

.list a{
    color: white;
    text-decoration: none;

}
